/*公共样式*/
body{
	font-size: 12px;
	color:#333;
	min-width: 1206px;
}
/*顶部容器*/
.container{
	width: 1206px;
	margin-left: auto ;
	margin-right: auto;
	/*color: #b0b0b0;*/
}

.page-top{
	height: 38px;
	background-color: #323232;
	
}
/*顶部容器左侧*/
.page-top .top-lt{
	color: #a2a2a2;
	line-height: 38px;
	float: left;
}
.page-top .top-lt a{
	display: inline-block;
}
.page-top .top-lt span{
	color: #3f3f3f;
	padding: 0,3px;
	
}
.page-top .top-lt a:hover{
	color: #fff;
}
/*下载APP*/
.page-top .top-lt .download{
	position: relative;
}
.page-top .top-lt .down-box{
	width: 126px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -63px;
	top:38px;
	padding-top: 20px;
	box-shadow: rgb(170,170,170) 0px 1px 5px;
	text-align: center;
	display: none;
	z-index: 1000;
}
.page-top .top-lt .down-box img{
	width: 88px;
	height: 88px;
	display: block;
	margin: 0 auto;
	
}
.page-top .top-lt .down-box b{
	width: 20px;
	height: 13px;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	background-image: url(../img/sjx3.png);
	top:-13px;
	
}
.page-top .top-lt a.download i{
	font-style: normal;
}
.page-top .top-lt a.download:hover .down-box{
	display: block;
}
.page-top .top-lt a.download:hover i{
	color: #323232;
}
/*顶部容器右侧*/
.page-top .top-gt{
	float: right;
	/* width: 300px; */
}
.page-top .top-gt .login{
	color: #A2A2A2;
	line-height: 38px;
	float: right;
	margin-right: 20px;
}
.page-top .top-gt .login span{
	color: #3f3f3f;
	padding: 0,3px;
}
.page-top .top-gt .login a:hover{
	color: #fff;
}

/*用户登录状态下*/
.page-top .userinfo{
	float: right;
	margin-right: 20px;
}
.page-top .userinfo .link{
	line-height: 38px;
	color: #A2A2A2;
}
.page-top .userinfo span{
	padding: 0 3px;
	color: #3F3F3F;
}
.page-top .userinfo .user{
	width: 120px;
	/* background-color: red; */
	display: inline-block;
	position: relative;
}

.page-top .userinfo .user .tit{
	line-height: 38px;
	text-align: center;
	display: block;
	color: #A2A2A2;
	position: relative;
	z-index: 5;
}
.page-top .userinfo .user ul{
	display: none;
	position: absolute;
	left: 0;
	top:38px;
	width: 120px;
	padding: 10px 0;
	box-shadow: 0 2px 10px rgba(0,0,0,0,15);
}
.page-top .userinfo .user li{
	line-height: 30px;
	text-align: center;
	/* background-color: #FFFFFF;
	color: #000000 ;*/
}
.page-top .userinfo  li a{
	display: block;
}
.page-top .userinfo  li:hover{
	color: #ff6700;
	background-color: #f5f5f5;
}
.page-top .userinfo .user:hover{
	background-color: #fff;
}
.page-top .userinfo .user:hover .tit{
	color: #FF6700;
}
.page-top .userinfo .user:hover ul{
	display: block;
}

/*购物车*/
.page-top .top-gt .car-box{
	float: right;
	
}
.page-top .car-box .tit{
	display: block;
	text-align: center;
	line-height: 38px;
	width: 118px;
	background-color: #424242;
	height: 38px;
	color: #A2A2A2;
}
/*导航样式*/
.page-nav{
	height: 96px;
	position: relative;
	
	
}
.page-nav .logo{
	display: block;
	float: left;
	width: 54px;
	height: 54px;
	margin-top: 21px;
	background: #FF6700 url(../img/xiaomi5.png) center center no-repeat;
	margin-right: 45px;
}
.page-nav .nav .nav-item{
	margin-left: 16px;
	float: left;
	margin-top: 24px;
	padding: 12px 2px 0;
	height: 60px;
	
}
.page-nav .nav .nav-item .tit{
	font-size: 16px;
	color: #666666;
}
.page-nav .nav .nav-item:hover .tit{
	color: #FF6700;
}
.page-nav .nav-item .pop{
	position: absolute;
	width: 100%;
	height: 230px;
	background-color: #fff;
	left: 0;
	top: 96px;
	box-shadow: 0 3px 4px rgba(0,0,0,0,18);
	border-top: 1px solid #e0e0e0;
	display: none;
	z-index: 1000;
}
.page-nav .down-ul{
	/* overflow: hidden; */
}
.page-nav .down-li{
		width: 201px;
		float: left;
		padding-top: 30px;
		text-align: center;
		position: relative;
}
.page-nav .down-li .pic img{
	width: 160px;
	height: 110px;
	
}
.page-nav .down-li .name{
	font-weight: normal;
	font-size: 13px;
	margin-top: 20px;
}
.page-nav .down-li .price{
	color: #FF6700;
	margin-top: 5px;
}
.page-nav .down-li .tags{
	width: 64px;
	height: 20px;
	border: 1px solid #FF6700;
	text-align: center;
	line-height: 20px;
	position: absolute;
	left:50%;
	margin-left: -32px;
	top:-1px;
	color: #FF6700;
	z-index: 100;
}
.page-nav .down-li i{
	background-color: #E0E0E0;
	width: 1px;
	height: 100px;
	position: absolute;
	right: 0;
	top:36px;
}
.page-nav .nav .nav-item:hover .pop{
	display: block;
}
/*全部分类菜单样式*/
#page-all-nav{
	visibility: hidden;
	position: relative;
}

.slider-nav{
	position: absolute;
	width: 232px;
	height: 418px;
	border: 1px solid #FF6700;
	background-color: #fff;
	right: -19px;
	top:72px;
	padding:20px 0;
	z-index: 101;
}
.slider-nav .slider-li{
	line-height: 42px;
	
}
.slider-nav .slider-li .name{
	font-size: 13px;
	display: block;
	padding: 0 24px 0 30px;
}
.slider-nav .slider-li .name span{
	margin-right: 5px;
}
.slider-nav .slider-li i{
	float: right;
}
.slider-nav .slider-li:hover .name{
	background-color: #FF6700;
	color: #fff;
}
.slider-nav .slider-pop{
	position: absolute;
	border: 1px solid #E0E0E0;
	border-left: none;
	width: 975px;
	height: 458px;
	left: 233px;
	top:0px;
	box-shadow: 0 8px 16px rgba(0,0,0,0.18);
	display: none;
	z-index: 100;
	background-color: #fff;
}
.slider-nav .pop-li{
	float: left;
	width: 218px;
	padding-left: 24px;
	overflow: hidden;
	height: 56px;
	font-size: 14px;
	margin-bottom: 10px;
	padding-top: 20px;
}
.slider-nav .pop-li p{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.slider-nav .pop-li img{
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 16px;
}
.slider-nav .pop-li:hover p{
	color: #FF6700;
}
.slider-nav .slider-li:hover .slider-pop{
	display: block;
}
/* 搜索框 */
.page-nav .search{
	float: right;
	position: relative;
	margin-top: 24px;
}
.page-nav .search .q{
	height: 48px;
	width: 234px;
	border: 1px solid #E0E0E0;
	outline: none;
	border-right: none;
	line-height: 48px;
	padding-left: 4px;
	float: left;
}
.page-nav .search .tags{
	position: absolute;
	top:17px;
	right:58px;
	width: 130px;
	text-align: right;
	
}
.page-nav .search .tags span{
	line-height: 18px;
	color: #757575;
	padding: 0 5px;
	background-color: #eee;
	font-size: 12px;
	cursor: pointer;
	/*cursor规则是设定网页浏览时用户鼠标指针的样式，也就是鼠标的图形形状
cursor：pointer设定鼠标的形状为一只伸出食指的手，这也是绝大多数浏览器里面鼠标停留在网页链接上方时候的样式
另外可以选择其他鼠标指针样式，常用的有default 箭头，crosshair 十字，progress 箭头和沙漏*/
} 
.page-nav .search .tags span:hover{
	background-color: #FF6700;
	color: #fff;
}

.page-nav .search .bth{
	width: 50px;
	height: 50px;
	border: 1px solid #E0E0E0;
	float: left;
	cursor: pointer;
	
}
.search:hover .q,
.search:hover .bth{
	border-color: #A2A2A2;
}
.search:active .q,
.search:active .bth{
	border-color: #FF6700;
}
.search.active .q,
.search.active .bth{
	border-color: #FF6700;
}
.page-nav .search .bth:hover{
	color: #fff;
	background-color: #FF6700;
	border-color: #FF6700;
}
/* .page-nav .search .q:active .hot{
	display: block;
} */
.search .hot{
	width: 238px;
	border: 1px solid #FF6700;
	border-top: none;
	position: absolute;
	left: 0;
	top:50px;
	display: none;
	z-index: 101;
}

.search .hot li{
	line-height: 30px;
}
.search .hot li a{
	display: block;
	padding:0 15px;
	color: #535353;
}
.search .hot li:hover{
	background-color:#fafafa; 
}
.search .hot li i{
	float: right;
	font-style: normal;
	color:#b0b0b0;
}
/* 底部 */
.page-footer .ts{
	overflow: hidden;
	/* margin: 25px auto; */	
	padding: 27px 0;
	border-bottom: 1px solid #E0E0E0;
}
.page-footer .ts li{
	width: 240px;
	border-right: 1px solid #E0E0E0;
	line-height: 25px;
	float: left;
	font-size: 16px;
	text-align: center;
	color: #616161;
}
.page-footer .ts li:last-child{
	border-right:none ;
}
.page-footer .ts li i{
	font-size: 22px;
	margin-right: 6px;
	position: relative;
	top:3px;
}
.page-footer .ts .fifteen i{
	position: relative;
	top:0;
}
.page-footer .ts li a:hover{
	color: #FF6700;
}
.page-footer .nav{
	padding: 40px 0;
	overflow: hidden;
}
.page-footer .nav .lt{
	float: left;
	width: 964px;
	overflow: hidden;
}
.page-footer .nav dl{
	width: 160px;
	float: left;
	color: #757575;
}
.page-footer .nav .lt dt{
	color: #424242;
	font-size: 14px;
	margin: -1px 0 26px;
}
.page-footer .nav .lt dd{
	line-height: 30px;
	font-size: 12px;
}
.page-footer .nav .lt dd a:hover{
	color: #FF6700;
}
.page-footer .nav .gt{
	float: right;
	width: 240px;
	border-left: 1px solid #E0E0E0;
	text-align: center;
	color: #616161;
}
.page-footer .nav .gt h3{
	font-weight: normal;
	font-size: 22px;
	color: #FF6700;
}
.page-footer .nav .gt h4{
	font-size: 12px;
	font-weight: normal;
	line-height: 30px;
}
.page-footer .nav .gt .concat{
	display: block;
	width: 118px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #FF6700;
	background-color: #FFFFFF;
	color: #FF6700;
	text-align: center;
	margin: 0 auto;
}
.page-footer .nav .gt .concat:hover{
	background-color: #FF6700;
	color: #FFFFFF;
}
.page-footer .nav .gt i{
	font-size: 12px;
	margin-right: 3px;
}
.page-footer .nav .gt .guanzhu{
	font-size: 12px;
	margin-top: 10px;
	margin-left: 6px;
	position: relative;
}
.page-footer .nav .gt .guanzhu a{
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 20px;
	vertical-align: middle;
	position: relative;
	top:-3px;
}
.page-footer .nav .gt .guanzhu a:hover{
	color: #FF6700;
}
.page-footer .nav .gt .guanzhu .wx{
	float: right;
	width: 126px;
	height: 126px;
	position: absolute;
	top:20px;
	right: 18px;
	z-index: 2;
	visibility: hidden;
}
.page-footer .nav .gt .guanzhu .icon-weixin:hover +.wx{
	visibility: initial;
}
.page-footer .bot{
	position: relative;
	left: -22px;
	top:16px;
	padding: 0 0 0 30px;
	height: 200px;
	overflow: hidden;
	background: url(../img/slogan2020.png) center bottom no-repeat;
}
.page-footer .bot .logo{
	display: block;
	float: left;
	width: 54px;
	height: 54px;
	background: #FF6700 url(../img/xiaomi5.png) center center no-repeat;
}
.page-footer .bot .txt{
	width: 1142px;
	float: right;
}
.page-footer .bot .txt h3{
	font-weight: normal;
	line-height: 18px;
	color: #757575;
}
.page-footer .bot .txt h3 span{
	color: #B0B0B0;
	
}
.page-footer .bot .txt p{
	font-weight: normal;
	color: #B0B0B0;
	line-height: 18px;
}
.page-footer .bot a:hover{
	color: #FF6700;
}
.page-footer .bot .txt ul{
	overflow: hidden;
}
.page-footer .bot .txt img,
.page-footer .bot .txt li{
	display: inline-block;
	height: 28px;
	width: 85px;
}
/* 侧边栏 */
.page-slider{
	position: fixed;
	right: 0;
	bottom: 70px;
	width: 82px;
}
.page-slider li{
	width: 80px;
	height: 92px;
	background-color: #FFFFFF;
	cursor: pointer;
	border: 1px solid #F5F5F5;
	position: relative;
}

.page-slider li i.my-icon{
	display:block;
	width: 30px;
	height: 30px;
	background-image: url(../img/icon-bgs.png);
	background-size: 180px 180px;
	margin: 24px auto 0;
}
.page-slider li i.icon-shouji{
	background-position: 0 -60px;
}
.page-slider li i.icon-geren{
	background-position: 0 0;
}
.page-slider li i.icon-shouhou{
	background-position:0 -90px ;
}
.page-slider li i.icon-kefu{
	background-position: 0 -120px;
}
.page-slider li i.icon-car{
	background-position: 0 -150px;
}
.page-slider li i.icon-goback{
	background-position:0 -30px ;
}
.page-slider li span{
	display: block;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: #757575;
	margin-top: 8px;
}
.page-slider li.last{
	margin-top: 14px;
}
.page-slider li:hover span{
	color: #FF6700;
}
.page-slider li:hover .icon-shouji{
	background-position: -30px -60px;
}
.page-slider li:hover .icon-geren{
	background-position: -30px 0;
}
.page-slider li:hover .icon-shouhou{
	background-position:-30px -90px ;
}
.page-slider li:hover .icon-kefu{
	background-position: -30px -120px;
}
.page-slider li:hover .icon-car{
	background-position: -30px -150px;
}
.page-slider li:hover .icon-goback{
	background-position:-30px -30px ;
}
.page-slider li .pop{
	width: 130px;
	height: 183px;
	position: absolute;
	right: 88px;
	top: 0;
	background-color: #FFFFFF;
	border: 1px solid #F5F5F5;
	visibility: hidden;
	z-index: 2000;
}

.page-slider li .pop img{
	width: 95px;
	height: 95px;
	margin: 24px auto;
	display: block;
}
.page-slider li .pop p{
	text-align: center;
	width: 95px;
	margin: 0 auto;
	font-size: 14px;
	color: #757575;
	margin-top: -10px;
}
.page-slider .frist:hover .pop{
	visibility: initial;
}