@font-face {
  font-family: "iconfont"; /* Project id 2866086 */
  src: url('iconfont.woff2?t=1635825726222') format('woff2'),
       url('iconfont.woff?t=1635825726222') format('woff'),
       url('iconfont.ttf?t=1635825726222') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shumashouji:before {
  content: "\e604";
}

.icon-F:before {
  content: "\e605";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-kefufenxiermaikefu:before {
  content: "\e889";
}

.icon-huidaodingbu:before {
  content: "\e88d";
}

.icon-SDqia:before {
  content: "\e649";
}

.icon-xiaoxi:before {
  content: "\e616";
}

.icon-gerenzhongxin:before {
  content: "\e611";
}

.icon-xinlangweibo:before {
  content: "\e602";
}

.icon-weixin:before {
  content: "\e603";
}

.icon-wxbdingwei:before {
  content: "\e624";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.icon-liwulipin:before {
  content: "\e617";
}

.icon-weixiufuwu:before {
  content: "\e6fd";
}

.icon-rmb:before {
  content: "\e61b";
}

.icon-huafeichongzhi:before {
  content: "\e60a";
}

.icon-qiye:before {
  content: "\e646";
}

.icon-cart-Empty:before {
  content: "\e7b2";
}

.icon-shizhong1:before {
  content: "\e60f";
}

.icon-sim:before {
  content: "\e946";
}

.icon-jiantou_liebiaoxiangyou:before {
  content: "\eb03";
}

.icon-gouwuche2:before {
  content: "\e601";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-xiangyou3:before {
  content: "\e778";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

